<%# Notice -> Usado por exemplo quando é apagado alguma moeda, e avisa/noticiar o que aconteceu %>
<p style="color: green"><%= notice %></p>

<p> <strong> Data: <%= Date.today %> </strong> </p>

<h1 style = "text-align:center;"><%= nome_aplicacao %></h1>

<div class="container-main">

    <h1>Coins</h1>

    <%# Table %>
    <table class="table-coins">
      <thead>
        <tr>
          <th colspan="1">DESCRIÇÃO</th>
          <th colspan="1">SIGLA</th>
          <th colspan="1">IMAGEM</th>
          <th colspan="1">MINING TYPE</th>
          <th colspan="3">OPÇÕES</th>
        </tr>  
      </thead>

      <tbody>
        <% @coins.each do |coin| %>
            <tr>
              <!-- Thead coloca um negrito para indicar maior relevancia ou descrição-->
              <td><%=coin.description%></td>
              <td><%=coin.acronym%></td>
              <td><%=image_tag coin.url_image, size: "70x50" %></td>
              <td><%=coin.mining_type.description%></td>
              <td><%= link_to 'Mostrar', coin %></td>
              <td><%= link_to 'Editar', edit_coin_path(coin) %></td>
              <td> <%= button_to "Destroy this coin", coin, method: :delete, data: {confirm: "Tem certeza que quer excluir?"} %> </td>
            </tr>
        <% end %> 
      </tbody>

    </table>

    <br><br>

    <div class="container-options">
      <div class="button">
      <%= link_to "New coin", new_coin_path %>
      </div>

      <div class="button">
      <%= link_to "Back to Home", welcome_index_path %>
      </div>
    </div>

</div>