<h1>Seja Bem-Vindo!!</h1>

<p> <strong> Data: <%= data_br(Date.today) %> </strong> </p>

<ul>
    <%# SEM O RUBY %>
    <%# <li>
        <a href="/coins"> Cadastro de Moedas </a>
    </li> %>
    <li>
      <%= link_to("Cadastro de Moedas", coins_path) %>
    </li>
</ul>

<p> 
  Você está no ambiente de <strong><%=ambiente_rails%></strong>
</p>

<p> 
  Eu sou uma variável de instância/sessão <%= @nome %>
</p>

<p> 
  Meu curso é o curso de <%=@curso%>
</p>