<h1>Seja Bem-Vindo!!</h1>

<p> O idioma utilizado nessa aplicação é <strong><%= locale(I18n.locale) %></strong> </p>

<p> <strong> Data: <%= Date.today %> </strong> </p>

<%######################################################################  %>
<%# Chamando o partial menu %>
<%# Procura uma partial chamada por _menu e renderiza essa parte aqui %>
<%= render("menu") %> 

<p> 
  Você está no ambiente de <strong><%=ambiente_rails%></strong>
</p>

<p> 
  Eu sou uma variável de instância/sessão <strong style="color:red;"> <%= @my_name %> </strong>
</p>

<p> 
  Meu curso é o curso de <strong style="color: blue;"> <%=@curso%> </strong>
</p>