<%= form_with(model: coin, local: true) do |form| %>
  <%# Verifica possiveis erros %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Verifica os labels do formulário %>
  <div class="field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :acronym, style: "display: block" %>
    <%= form.text_field :acronym %>
  </div>

  <div class="field">
    <%= form.label :url_image, "LINK DA IMAGEM: ", style: "display: block" %>
    <%= form.text_field :url_image %>
  </div>

  <div class="field">
    <%= form.label :mining_type, "MINING TYPE: ", style: "display: block" %>
    <%= form.select("mining_type_id", @mining_type_options, { include_blank: 'Selecione...' }) %>
  </div>
  

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
